{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{% include 'flash.html' %}

<br><br><br><br><br><br><br>
<h1 style="text-align: center;">Automated Lead Generator and Lead Qualifier</h1>

<div style="text-align: center;">
  <br>
  <h4>Upload your CSV file to the Leads Database</h4>
  <form method="POST" action="/upload" enctype="multipart/form-data">
    <br><br>
    <div class="mb-4" style="padding-left: 25%; padding-right: 25%;">
      <input type="file" name="file" class="form-control" id="formFileMultiple" multiple>
    </div>
    <div>
      <input class="btn btn-outline-secondary " type="submit" value="Submit">
    </div>
  </form>
</div>

<a href="{{url_for('index.dump_to_csv')}}" target="_blank"><button type="button" class="btn btn-primary btn-lg">Download database as csv</button></a>
{% endblock %}