{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<br><h1 style="text-align:center">Lead Store</h1><br>

<!-- filter table dropdown  DYLAN ADDED-->
<form class="form-inline" method="POST">

    <div class="form-group">
        {{ form.comp_select.label }}
        <div class="input-group">
            {{ form.comp_select (class="selectpicker form-control") }}
        </div>
        <div class="form-group">
            {{ form.info.label }}
            {{ form.info (class="form-control", id="exampleFormControlInput1", placeholder="name/city/zip") }}
        </div>
        <div class="form-group">
            {{ form.length.label }}
            {{ form.length (class="form-control", value="20") }}
        </div>
        {{ form.filter_submit (class="btn btn-secondary", style="margin-top: 10px;") }}
    </div>
</form>



    
<span style="float: right;">Select All  <input class="form-check-input" type="checkbox"  id='updateme' onClick="toggle(this)"/></span><br/>

<div class="table-responsive">
    <form action="" method='POST'>
        <table class="table table-striped" style="border-radius: 4px;">
            <tr>
                <th>Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Owner Occupied</th>
                <th>Property Type</th>
                <th>MLS Status</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Contacted?</th>
                <th>Time of Contact</th>
                <th>Sent Template</th>
                <th>Response</th>
                <th>Motivation Level</th>
                <th>Select</th>
            </tr>
            {%  for lead in leads.items %}
                {% if lead.first_name %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{lead.first_name}}</td>
                <td>{{lead.last_name}}</td>
                <td>{{lead.age|int}}</td>
                <td>{{lead.address}}</td>
                <td>{{lead.city}}</td>
                <td>{{lead.state}}</td>
                <td>{{lead.zip}}</td>
                <td>{{lead.owner_occupied}}</td>
                <td>{{lead.property_type}}</td>
                <td>{{lead.mls_status}}</td>
                <td>
                    {% for mobile_phone in lead.mobile_phones %}
                        {{mobile_phone.mobile_phone
                            .replace(" ", "")
                            .replace("-", "")
                            .replace("(", "")
                            .replace(")", "")}}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for email in lead.emails %}
                        {{email.email_address}}<br>
                    {% endfor %}
                </td>
                <td>{{lead.contacted}}</td>
                <td>{{lead.contact_time}}</td>
                <td>{{lead.template_sent}}</td>
                <td>{{lead.response}}</td>
                <td>{{lead.motivation_level}}</td>
                <td><input class="form-check-input" type="checkbox" id="select" name="select" value={{lead.id}} style="margin-right: 5px;"></td>
                <!-- {{lead.id}} -->
            </tr>
                {% endif %}
            {% endfor %}
        </table>
        <button type='submit' class="btn btn-secondary" style="margin-bottom: 10px;">Skiptrace Leads</button>
    </form>
</div>

<!-- Pagination Links-->
<div class="text-right" style="float: right; margin-top: 11px;">
    <a href="{{ url_for('leads.main', page=leads.prev_num) }}"
       class="btn btn-outline-dark 
       {% if leads.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
<!-- Loop through the number of pages to display a link for each-->
    {% for page_num in leads.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if leads.page == page_num %}
            <a href="{{ url_for('leads.main', page=page_num) }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('leads.main', page=page_num) }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('leads.main', page=leads.next_num) }}"
       class="btn btn-outline-dark 
       {% if leads.page == leads.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
   Showing page {{ leads.page }} of {{ leads.pages }}
</p>

<script >
    document.getElementById('updateme').onclick = function() {
        var checkboxes = document.getElementsByName('select');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    }
</script>
{% endblock %}

