{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

{% if replies %}
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Message</th>
        <th scope="col">Address</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Property Type</th>
        <th scope="col">MLS Status</th>
        <th scope="col">Template Used</th>
      </tr>
    </thead>
    <tbody>
        {% for reply in replies %}
      <tr>
        <th scope="row">{{ reply.id }}</th>
        <td>{{ reply["first_name"] }}</td>
        <td>{{ reply["last_name"] }}</td>
        <td>{{ reply["number"] }}</td>
        <td>{{ reply.message }}</td>
        <td>{{ reply["address"] }}, {{ reply["city"] }} {{ reply["state"] }} {{ reply["zip"] }}</td>
        <td>{{ reply["date"] }}</td>
        <td>{{ reply["time"] }}</td>
        <td>{{ reply["property_type"] }}</td>
        <td>{{ reply["mls_status"] }}</td>
        <td>{{ reply["template_sent"] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% endblock %}