{% extends 'admin/master.html' %}
{% block body %}
<button class="btn btn-secondary"><a href="/">Home</a></button>

<form method="POST">
    <h2>Remove {{mls_amount}} Leads with MLS Status: "Pending":</h2>
    {{mls.submit}}
</form>
<form method="POST">
    <h2>Remove {{llcs_amount}} Leads with "LLC" in first or last name:</h2>
    {{llc.submit}}
</form>
<h2 class="modal-title">Remove Leads from Database by property type</h2><br>
    <p>this was broken when addresses were split off</p>

{% endblock %}